<?xml version="1.0" encoding="utf-8"?>
<android.support.design.widget.CoordinatorLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/rootView"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <FrameLayout
        android:layout_height="fill_parent"
        android:layout_width="fill_parent"
        android:background="@color/baixaAsh"
    >

        <fragment
            android:id="@+id/map"
            android:layout_height="match_parent"
            android:layout_width="match_parent"
            class="com.google.android.gms.maps.SupportMapFragment"
        
        />


        <android.support.v7.widget.Toolbar
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:minHeight="?android:attr/actionBarSize"
            android:id="@+id/mainToolbar"
            
        />

        <LinearLayout
            android:orientation="vertical"
            android:layout_height="wrap_content"
            android:layout_width="match_parent"
            android:layout_marginLeft="16dp"
            android:layout_marginRight="16dp"
            android:layout_marginTop="60dp">

            <FrameLayout
                android:id="@+id/frameLocations"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="@drawable/roundedges"
                android:padding="10dp"
				>

                    <TextView
                        android:id="@+id/endTextView"
                        android:layout_height="wrap_content"
                        android:layout_width="match_parent"
                        android:text="Endereço localizado"
                        android:layout_centerVertical="true"
                        android:layout_marginLeft="10dp"
						/>
                
            </FrameLayout>


        </LinearLayout>

      

        <RelativeLayout
            android:layout_width="35dp"
            android:layout_height="35dp"
            android:clickable="true"
            android:id="@+id/minhaLocalizacao"
            android:layout_gravity="center|right"
            android:background="@drawable/roundedges"
            android:layout_marginRight="16dp"
            
        >
            <ImageView
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:tint="@color/baixaAccentColor"
                android:padding="5dp"
                android:src="@mipmap/ic_my_location_black_48dp"
            />
        </RelativeLayout>


        <Button
            android:id="@+id/fazerBaixaButton"
            android:layout_width="150dp"
            android:layout_height="40dp"
            android:text="Fazer Baixa"
            android:textColor="@color/baixaWhite"
            android:layout_gravity="center|bottom"
            android:layout_marginBottom="30dp"
            android:textAllCaps="false"
            android:drawableLeft="@drawable/cam"
            android:drawableTint="@color/baixaWhite"
            android:paddingLeft="10dp"
            android:paddingRight="12dp"
            android:paddingBottom="8dp"
            android:paddingTop="8dp"
            android:elevation="2dp"
            android:translationZ="2dp"
            android:background="@drawable/roundbutton"
        />
    </FrameLayout>

    <include
        layout="@layout/confirmadetalhes"/>


</android.support.design.widget.CoordinatorLayout>
