<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cardview="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:gravity="center_horizontal"
    android:padding="5dp">

    <android.support.v7.widget.CardView
        android:layout_width="match_parent"
        android:layout_height="135dp"
        cardview:cardElevation="4dp"
        cardview:cardUseCompatPadding="true"
        cardview:cardCornerRadius="5dp">

        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:orientation="vertical"
            android:padding="4dp"
            >
            <RelativeLayout
                android:layout_height="0dp"
                android:layout_weight="0.7"
                android:layout_width="match_parent"
                android:paddingLeft="4dp"
                >
                <LinearLayout
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:orientation="vertical"
                    >
                    <TextView
                        android:layout_width="wrap_content"
                        android:layout_height="0dp"
                        android:layout_weight="0.3"
                        android:id="@+id/motivoHistTextView"
                        android:maxLines="1"
                        android:text="Tipo Motivo"
                        android:textStyle="bold"
                        android:textSize="20sp"
            />
                    <TextView
                        android:layout_width="fill_parent"
                        android:layout_height="0dp"
                        android:layout_weight="0.3"
                        android:layout_marginTop="5dp"
                        android:maxLines="1"
                        android:id="@+id/EnderecoTextView"
                        android:layout_below="@id/motivoHistTextView"
                        android:text="Rua Quinze de Novembro, 265, Centro Histórico de São Paulo"
                        android:textSize="15sp"
            />
                    <TextView
                        android:layout_width="wrap_content"
                        android:layout_height="0dp"
                        android:layout_weight="0.3"
                        android:layout_marginTop="5dp"
                        android:maxLines="1"
                        android:id="@+id/IrlTextView"
                        android:layout_below="@id/EnderecoTextView"
                        android:text="Numero IRL"
                        android:textSize="14sp"
                 
            />
                </LinearLayout>
            </RelativeLayout>

            <RelativeLayout
                android:layout_height="0dp"
                android:layout_width="match_parent"
                android:layout_weight="0.3"
                android:background="#F6F6F6"
                android:paddingLeft="4dp"
                >
                <LinearLayout
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:orientation="horizontal"
                    >
                    <LinearLayout
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.4"
                        android:gravity="center_horizontal"
                        >

                        <ImageView
                            android:layout_height="24dp"
                            android:layout_width="24dp"
                            android:src="@mipmap/ic_calendar"
                            android:layout_gravity="center"

		/>
                        <TextView
                            android:id="@+id/dateTimeTextView"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_gravity="center"
                            android:text="12/05/2019"
                            android:textSize="15sp"
                            android:layout_marginRight="10dp"
            />
                    </LinearLayout>
                    <View
                        android:layout_width="3dp"
                        android:layout_height="match_parent"
                        android:background="#FFF"
                        
                    />
                    <LinearLayout
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.4"
                        android:gravity="center_horizontal"
                        >
                        <ImageView
                            android:layout_height="24dp"
                            android:layout_width="24dp"
                            android:src="@mipmap/ic_relogio"
                            android:layout_gravity="center"
		/>
                        <TextView
                            android:id="@+id/timeTextView"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_gravity="center"
                            android:layout_marginLeft="2dp"
                            android:text="01:47"
                            android:textSize="15sp"
            />
                    </LinearLayout>

                    <View
                        android:layout_width="3dp"
                        android:layout_height="match_parent"
                        android:background="#FFF"
                    />

                    <LinearLayout
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.1"
                        android:gravity="center_horizontal"
                        >
                        <RelativeLayout
                            android:layout_width="35dp"
                            android:layout_height="35dp"
                            android:layout_margin="5dp"
                            android:layout_gravity="center"
                            android:background="@drawable/roundedges"
                            android:backgroundTint="#C20000"
            
        >
                            <ImageView
                                android:layout_height="wrap_content"
                                android:layout_width="wrap_content"
                                android:id="@+id/excluiBaixaHistorico"
                                android:clickable="true"
                                android:tint="#fFF"
                                android:padding="5dp"
                                android:src="@mipmap/ic_delete"
                        
            />

                        </RelativeLayout>

                    </LinearLayout>

                </LinearLayout>
            </RelativeLayout>

        </LinearLayout>

    </android.support.v7.widget.CardView>
</LinearLayout>